@import "tailwindcss";

nav {
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

nav a {
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #d1d1d1;
}

.active-link {
  background-color: #ccc;
  font-weight: bold;
}
